@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell-ui {
    @apply h-16 bg-[#f4f6ff] border border-[#3f51b5] rounded-lg flex items-center justify-center text-[18px] cursor-pointer select-none transition-all duration-200 ease-in-out hover:-translate-y-[3px] hover:scale-[1.02] hover:shadow-xl active:scale-[0.98] active:bg-[#3f51b5] active:text-white;
  }
}